@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/*Color definition*/
$first-color : #9356DC;
$second-color : #FF79DA;
$third-color : #99E2D0;
$light-grey: #f2f2f2;

/*sizing website*/
body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* ** PRELOADER ** */
.body_preloader_img img {
    position: relative;
      margin: 0 auto;    
  }
  
  #body_preloader {      
    -webkit-animation: body_preloader 2.5s both;
    animation: body_preloader 2.5s both;
  }
  
  @keyframes body_preloader {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }

/*Buttons mixins*/
@mixin btn_primary {
    width: 200px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
/*Linear gradient for all web-browser*/
    background: linear-gradient(to bottom right, $second-color, $first-color);
    background: -moz-linear-gradient(to bottom right, $second-color, $first-color);
    background: -webkit-linear-gradient(to bottom right, $second-color, $first-color);
    background: -ms-linear-gradient(to bottom right, $second-color, $first-color);
    background: -o-linear-gradient(to bottom right, $second-color, $first-color);
/*Box shadow for all web-browser*/
    box-shadow: 0px 3px 8px 1px #BDBDBD;
    -webkit-box-shadow: 0px 3px 8px 1px #BDBDBD;
    -moz-box-shadow: 0px 3px 8px 1px #BDBDBD;
    -ms-box-shadow: 0px 3px 8px 1px #BDBDBD;
    -o-box-shadow: 0px 3px 8px 1px #BDBDBD;
}

@mixin btn_choice {
    span {
        position: relative;
        left: 1rem;
        background-color: $first-color;
        padding: 3px 8px;
        border-radius: 50%;
        color: #fff;
    }
    button {
        background-color: $light-grey;
        border-radius: 20px;
        border: none;
        padding: 20px;
        width: 260px;
        margin-bottom: 25px;
        text-align: left;
        font-weight: bold;
        cursor: pointer;

        /*Box-shadow for all device*/
        box-shadow: 0px 3px 8px 1px #BDBDBD;
        -webkit-box-shadow: 0px 3px 8px 1px #BDBDBD;
        -moz-box-shadow: 0px 3px 8px 1px #BDBDBD;
        -ms-box-shadow: 0px 3px 8px 1px #BDBDBD;
        -o-box-shadow: 0px 3px 8px 1px #BDBDBD;
    }
    .choice_icone {
        position: relative;
        left: 1rem;
        padding-right: 2rem;
        font-size: 1.2rem;
        color: $light-grey;
        filter: brightness(50%);
    }
    &:hover {
        button {
            background-color: rgba(146, 86, 220, 0.1);
        }
        .choice_icone {
            color: $first-color;
            filter: brightness(95%);
        }
    }
}
/*fullpage loading spinner*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
	        animation: tracking-in-expand 3s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
/*animation tracking-in-expand*/
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

/*for all links*/
a, a:visited {
    text-decoration: none;
    color: black;
}

/*HEADER*/
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin-top: 25px;
    h1 {
        margin: 0 0 1rem 0;
    }
}

/*MAIN*/
.main_index {
    background: $light-grey;
    filter: brightness(95%);
    box-shadow: inset 0px 5px 5px -5px #A2A2A2;
    display: flex;
    justify-content: center;
    padding: 5px 0 ;
    .fa-map-marker-alt {
        position: relative;
        top: .9rem;
        right: .9rem;
        color: $light-grey;
        filter: brightness(30%);
    }
}

.main_menu {
    position: relative;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}


/*SECTION RESERVATION*/
.reservation {
    background-color: $light-grey;
    padding: 30px 0;
    text-align: center;
    h2 {
        margin: 0;
    }
    p {
        font-weight: 300;
    }
    .btn {
        @include btn_primary();
        cursor: pointer;
    }
}

/*SECTION FUNCTION*/
.function {
    text-align: center;
    h2 {
        text-align: left;
        margin: 15px;
    }
    .choice {
        @include btn_choice();
    }
}

/*SECTION RESTAURANTS*/
.restaurant {
    width: 100%;
    background-color: $light-grey;
    padding: 2rem 0;
    h2 {
        padding-left: 1rem;
    }
    .container {
        text-align: center;
        position: relative;
        height: auto;
        .card {
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 3px 3px 8px 1px #BDBDBD;
            margin: 15px;
            img {
                width: 100%;
                height: 170px;
                border-radius: 25px 25px 0 0;
                object-fit: cover;
            }
            .description {
                text-align: left;
                height: 65px;
                h3, p {
                    line-height: 1em;
                    margin: 10px;
                    &::first-letter {
                        text-transform: uppercase;
                    }
                }
            }
            .new {
                position: absolute;
                background-color: $third-color;
                color: green;
                padding: 5px;
                top: 20px;
                right: 35px;
            }
        }
    }
}

.loving {
    position: absolute;
     top: 200px;
     right: 35px;
     font-size: 1.2rem;
     padding: 0;
     cursor: pointer;
     transition: 400ms;
     &:hover {
         transform: scale(1.10);
         font-weight: bold;
         background: -webkit-linear-gradient($second-color, $first-color);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         opacity: 1;
         z-index: 0;
     }
 }

/*FOOTER*/
.footer {
    background-color: black;
    color: #fff;
    padding: 1.5rem 0;
    h3 {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        padding: 0 2rem 1rem 2rem;
        margin: 0;
    }
    a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 5px 2rem;
        &:visited {
            color: #fff;
        }
        .footer_icon {
            padding-right: 1em;
            &--first {
                padding-right: 1.4em;
            }
        }
    }
    .mailto, .mailto:visited {
        color: #fff;
    }
}

/*RESTAURANTS PAGES*/
/* Header */
.fa-arrow-left {
    position: absolute;
    font-size: 1rem;
    top: 2.5rem;
    left: 1.2rem;
}

/*Style of all menu*/
.menu {
    padding: 0 10px;
    &_title {
        text-transform: uppercase;
        color: grey;
        font-weight: 300;
        font-size: 20px;
        text-decoration: underline $third-color;
        text-align: left;
        padding-left: 10px;
    }
}

/*SECTION MENU*/
.card_menu {
    position: relative;
    top: -2rem;
    width: 100%;
    text-align: center;
    border-radius: 25px 25px 0 0;
    background-color: $light-grey;
    h2 {
        margin: 0;
        text-align: left;
        font-family: 'Shrikhand', cursive;
        padding: 15px;
        font-weight: lighter;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .fa-heart {
        position: absolute;
        top: 25px;
        font-size: 1.2rem;
        right: 15px;
    }
    .btn_command {
        @include btn_primary();
        margin: 40px auto;
        cursor: pointer;
    }
}
/*style of all plates proposition*/
.menu_proposition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0px 3px 8px 1px #BDBDBD;
    padding: 5px 10px;
    margin: 10px 2px;
    height: 50px;
    &:hover {
        .menu_description {
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .price {
            width: 10%;
        }
        .btn_okay {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 40px;
            margin-top: -5px;
            margin-left: 3%;
        }
    }
    .menu_description {
        display: block;
        margin: 4px 2px;
        line-height: 0.5rem;
        width: 83%;
        h3, p {
            margin: 0;
            padding: 8px;
            font-size: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
    .price {
        display: flex;
        justify-content: center;
        width: 15%;
    }
    .btn_okay {
        display: none;
        background-color: $third-color;
        border-radius: 0 15px 15px 0;
        border: 1px solid $third-color;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    .fa-check-circle {
        color: #fff;
    }
}

/*MEDIA QUERIES*/
/*adaptation for tablet device*/

@media screen and (min-width:760px) and (max-width:1024px) {
    .function {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        h2{
            width: 100%;
        }
        .choice {
            width: 40%;
        }
    }
    .restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            width: 100%;
        }
        .container {
            width: 50%;
            .loving {
                top: 210px;
            }
            .card {
                .new {
                    top: 25px;
                }
            }
        }
    }
}

/*adaptation for laptop device*/
@media screen and (min-width:1025px) {
    .function {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2{
            width: 100%;
        }
        .choice {
            width: 33%;
        }
    }
    .restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            width: 100%;
        }
        .container {
            width: 50%;
            .card {
                img {
                    height: 250px;
                }
            }
            .new {
                top: 40px;
            }
            .loving {
                top: 290px;
            }
        }
    }
}