@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Shrikhand&display=swap');

@media screen and (min-width: 320px) and (max-width:700px){

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$font-light: #F5F5F5;

body {
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

header {
    text-align: center;
    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 60px;
    }
}

/*MAIN*/

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $font-light;
    filter: brightness(95%);
    box-shadow: inset 0px 14px 11px -10px #A2A2A2;
    color: #444;
    .main_icon {
        padding: 25px 20px 0 0;
        font-size: 2rem;
    }
    p {
        font-size: 30px;
        padding-right: 35px;
    }
}

/*SECTION RESERVATION*/

@mixin btn_primary {
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 5px 6px 1px rgba(162,162,162,0.5);
    background-image:-moz-linear-gradient(to bottom right, $color-secondary, $color-primary);
    background-image:-o-linear-gradient(to bottom right, $color-secondary, $color-primary);
    background-image:-webkit-linear-gradient(to bottom right, $color-secondary, $color-primary);
    background-image:linear-gradient(to bottom right, $color-secondary, $color-primary);
}

.reservation {
    text-align: center;
    background-color: $font-light;
    padding: 60px 0;
    h2 {
        margin: 0;
        font-size: 40px;
        font-weight: 900;
    }
    p {
        font-size: 22px;
        color: $font-light;
        filter: brightness(25%);
        font-weight: 100;
    }
    .btn {
        @include btn_primary();
        margin: 20px 0;
        cursor: pointer;
    }
}
}