@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*Color definition*/
/*sizing website*/
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Loading spinner fullpage*/
.spinner {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://www.rbintlonline.com/giphy.gif);
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 150px;
  opacity: 75%;
  z-index: 1;
  animation: spinner 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.75;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
/*Buttons mixins*/
/*for all links*/
a, a:visited {
  text-decoration: none;
  color: black;
}

/*HEADER*/
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding-top: 25px;
}
header h1 {
  margin: 0;
  padding-bottom: 20px;
}

/*MAIN*/
.main_index {
  background: #f2f2f2;
  filter: brightness(95%);
  box-shadow: inset 0px 5px 5px -5px #A2A2A2;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.main_index .fa-map-marker-alt {
  position: relative;
  top: 0.9rem;
  right: 0.9rem;
  color: #f2f2f2;
  filter: brightness(30%);
}

.main_menu {
  position: relative;
}
.main_menu img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  bottom: -1.5rem;
}

/*SECTION RESERVATION*/
.reservation {
  background-color: #f2f2f2;
  padding: 30px 0;
  text-align: center;
}
.reservation h2 {
  margin: 0;
}
.reservation p {
  font-weight: 300;
}
.reservation .btn {
  width: 200px;
  border: none;
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  /*Linear gradient for all web-browser*/
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -moz-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -ms-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -o-linear-gradient(to bottom right, #FF79DA, #9356DC);
  /*Box shadow for all web-browser*/
  box-shadow: 0px 3px 8px 1px #BDBDBD;
  -webkit-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -moz-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -ms-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -o-box-shadow: 0px 3px 8px 1px #BDBDBD;
  cursor: pointer;
}

/*SECTION FUNCTION*/
.function {
  text-align: center;
}
.function h2 {
  text-align: left;
  margin: 15px;
}
.function .choice span {
  position: relative;
  left: 1rem;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 50%;
  color: #fff;
}
.function .choice button {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
  padding: 20px;
  width: 265px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  /*Box-shadow for all device*/
  box-shadow: 0px 3px 8px 1px #BDBDBD;
  -webkit-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -moz-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -ms-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -o-box-shadow: 0px 3px 8px 1px #BDBDBD;
}
.function .choice .choice_icone {
  position: relative;
  left: 1rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  color: #f2f2f2;
  filter: brightness(50%);
}
.function .choice:hover button {
  background-color: rgba(146, 86, 220, 0.1);
}
.function .choice:hover .choice_icone {
  color: #9356DC;
  filter: brightness(95%);
}

/*SECTION RESTAURANTS*/
.restaurant {
  width: 100%;
  background-color: #f2f2f2;
  padding: 2rem 0;
}
.restaurant h2 {
  padding-left: 1rem;
}
.restaurant .container {
  text-align: center;
  position: relative;
  height: auto;
}
.restaurant .container .card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 8px 1px #BDBDBD;
  margin: 15px;
}
.restaurant .container .card img {
  width: 100%;
  height: 170px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.restaurant .container .card .description {
  text-align: left;
  height: 65px;
}
.restaurant .container .card .description h3, .restaurant .container .card .description p {
  line-height: 1em;
  margin: 10px;
}
.restaurant .container .card .description h3::first-letter, .restaurant .container .card .description p::first-letter {
  text-transform: uppercase;
}
.restaurant .container .card .new {
  position: absolute;
  background-color: #99E2D0;
  color: green;
  padding: 5px;
  top: 20px;
  right: 35px;
}

.loving {
  position: absolute;
  top: 200px;
  right: 35px;
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;
  transition: 400ms;
}
.loving:hover {
  transform: scale(1.1);
  font-weight: bold;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  z-index: 0;
}

/*FOOTER*/
.footer {
  background-color: #424242;
  color: #fff;
  padding: 1.5rem 0;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  padding: 0 2rem 1rem 2rem;
  margin: 0;
}
.footer a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 5px 2rem;
}
.footer a:visited {
  color: #fff;
}
.footer a .footer_icon {
  padding-right: 1em;
}
.footer a .footer_icon--first {
  padding-right: 1.4em;
}
.footer .mailto, .footer .mailto:visited {
  color: #fff;
}

/*RESTAURANTS PAGES*/
/* Header */
.fa-arrow-left {
  position: absolute;
  font-size: 1rem;
  top: 2.5rem;
  left: 1.2rem;
}

/*Style of all menu*/
.menu {
  width: 100%;
  -webkit-animation: menu 2.4s ease-in-out both;
  animation: menu 2.4s ease-in-out both;
}
.menu_title {
  text-transform: uppercase;
  color: grey;
  font-weight: 300;
  font-size: 20px;
  text-decoration: underline #99E2D0;
  text-align: left;
  padding-left: 10px;
}
.menu:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.menu:nth-child(2) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.menu:nth-child(3) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
.menu:nth-child(4) {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}

/*animatin of the menu*/
@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/*SECTION MENU*/
.card_menu_title {
  position: relative;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f2f2f2;
}
.card_menu_title h2 {
  margin: 0;
  text-align: left;
  font-family: "Shrikhand", cursive;
  padding: 15px;
  font-weight: lighter;
}
.card_menu_title h2::first-letter {
  text-transform: uppercase;
}
.card_menu_title .fa-heart {
  position: absolute;
  top: 25px;
  font-size: 1.2rem;
  right: 15px;
}

.card_menu {
  background-color: #f2f2f2;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*style of all plates proposition*/
.menu_proposition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0px 3px 8px 1px #BDBDBD;
  padding: 5px 10px;
  margin: 10px 2px;
  height: 50px;
}
.menu_proposition:hover .menu_description {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_proposition:hover .price {
  width: 10%;
}
.menu_proposition:hover .btn_okay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 16%;
  margin-top: -5px;
  margin-left: 2px;
}
.menu_proposition .menu_description {
  display: block;
  margin: 4px 2px;
  line-height: 0.5rem;
  width: 88%;
}
.menu_proposition .menu_description h3, .menu_proposition .menu_description p {
  margin: 0;
  padding: 8px;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_proposition .menu_description h3::first-letter, .menu_proposition .menu_description p::first-letter {
  text-transform: uppercase;
}
.menu_proposition .price {
  display: flex;
  justify-content: center;
  width: 10%;
}
.menu_proposition .btn_okay {
  display: none;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  border: 1px solid #99E2D0;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.menu_proposition .fa-check-circle {
  color: #fff;
}

/*animation for the buttons*/
.fa-check-circle {
  -webkit-animation: fa-check-circle 0.7s cubic-bezier(0.25, 0.46, 0.46, 0.94) both;
  animation: fa-check-circle 0.7s cubic-bezier(0.25, 0.46, 0.46, 0.94) both;
}

@-webkit-keyframes fa-check-circle {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes fa-check-circle {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
.commander {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}
.commander .btn_command {
  width: 200px;
  border: none;
  border-radius: 50px;
  padding: 15px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  /*Linear gradient for all web-browser*/
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -moz-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -webkit-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -ms-linear-gradient(to bottom right, #FF79DA, #9356DC);
  background: -o-linear-gradient(to bottom right, #FF79DA, #9356DC);
  /*Box shadow for all web-browser*/
  box-shadow: 0px 3px 8px 1px #BDBDBD;
  -webkit-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -moz-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -ms-box-shadow: 0px 3px 8px 1px #BDBDBD;
  -o-box-shadow: 0px 3px 8px 1px #BDBDBD;
  margin: 40px auto;
  cursor: pointer;
}

/*animation for the dishes*/
/*MEDIA QUERIES*/
/*adaptation for tablet device*/
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .function {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .function h2 {
    width: 100%;
  }
  .function .choice {
    width: 40%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant .container {
    width: 50%;
  }
  .restaurant .container .loving {
    top: 210px;
  }
  .restaurant .container .card .new {
    top: 25px;
  }

  .card_menu {
    flex-direction: row;
  }
  .card_menu .menu {
    width: 47%;
  }

  .body_preloader_img img {
    left: 32%;
  }
}
/*adaptation for laptop device*/
@media screen and (min-width: 1025px) {
  .function {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .function h2 {
    width: 100%;
  }
  .function .choice {
    width: 33%;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant .container {
    width: 50%;
  }
  .restaurant .container .card img {
    height: 250px;
  }
  .restaurant .container .new {
    top: 40px;
  }
  .restaurant .container .loving {
    top: 290px;
  }

  .card_menu {
    flex-direction: row;
  }
  .card_menu .menu {
    width: 31%;
  }

  .body_preloader_img img {
    left: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
